version: "3.8"

services:

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
    depends_on:
      - mongodb

  app:
    build: .
    container_name: rest-demo-app
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
volumes:
  mongo_data: